:root {
  --off-white: rgb(243, 243, 243);
  --purple: #c09;
  --light-purple: rgb(214, 104, 187);
  --blue: #0cc;
}

main,
.popular,
.latest {
  margin: 0 10em;
}

body {
  background: var(--off-white);
}

/* header */

header {
  background: var(--off-white);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  height: 3em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-logo,
.header-logo svg {
  height: 20px;
  width: 75px;
  cursor: pointer;
}

.header-logo svg:hover {
  filter: invert(48%) sepia(79%) saturate(276%) hue-rotate(275deg)
    brightness(95%) contrast(99%);
}

.header-nav ul {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.header-nav li {
  background: var(--off-white);
  height: 3em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: gray;
  cursor: pointer;
}

.header-nav li:hover {
  background: white;
  color: black;
}

.header-nav li:first-child {
  background: white;
  color: black;
}

.arrow-li {
  display: flex;
}

.arrow-li img {
  width: 15px;
  margin-left: 0.25em;
}

.header-right {
  cursor: pointer;
}

.header-right i:hover {
  color: black !important;
}

/* content */

.main-header {
  background: var(--off-white);
  height: 14em;
  padding: 0 7em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header svg {
  background-size: 200px 300px;
}

.main-header h5 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: gray;
}

.main-content {
  height: 720px;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.3fr 0.5fr 1.1fr;
  grid-template-areas:
    "a1 a1 a3 a4"
    "a1 a1 a5 a5"
    "a2 a2 a5 a5";
  font-family: "Poppins", sans-serif;
}

.main-content article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.5em;
  cursor: pointer;

  background-size: 110%;
  transition: all 0.3s ease-in-out;
}

.main-content article:hover {
  background-size: 105%;
}

.main-content h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0.25em;
}

.big-font {
  font-size: 2.75rem !important;
  font-weight: 700 !important;
}

.main-content span {
  color: white;
  text-transform: uppercase;
}

.main-content button {
  background: none;
  color: white;
  text-transform: uppercase;
  border: 1pt solid white;
  border-radius: 2em;
  padding: 1em;
  margin-top: 1em;
  font-size: 1rem;
}

.a1 {
  grid-area: a1;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    ),
    url(images/a1.jpeg);
  background-size: cover;
}

.a2 {
  grid-area: a2;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    ),
    url(images/a2.png);
  background-size: cover;
  justify-content: center !important;
  align-items: center;
}

.a3 {
  grid-area: a3;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    ),
    url(images/a3.jpeg);
  background-size: cover;
}

.a4 {
  grid-area: a4;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    ),
    url(images/a4.jpeg);
  background-size: cover;
}

.a5 {
  grid-area: a5;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    ),
    url(images/a5.jpeg);
  background-size: cover;
}

/* popular articles */

.popular {
  font-family: "Poppins", sans-serif;
  background: var(--off-white);
  margin: 0 !important;
  padding-bottom: 4em;
}

.popular-header {
  text-align: center;
  padding: 2.75em;
  font-size: 2rem;
  color: gray;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

.popular-content {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom: 2em;
  padding: 0 8em;
}

.popular-content li {
  flex: 1 1 0;
  width: 0;
  display: flex;
  cursor: pointer;
}

.popular-content span {
  font-size: 2.5rem;
  color: var(--purple);
  margin-right: 0.25em;
}

.popular-content h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.popular-content h3:hover {
  text-decoration: underline;
  text-decoration-color: var(--light-purple);
}

/* latest stories */

.latest {
  font-family: "Poppins", sans-serif;
  padding: 0 8em;
  margin-bottom: 12em!important;
}

.latest-header {
  margin-top: 2em;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2em 0;
}

.latest-grid article {
  height: 150px;
}

.latest-grid figure {
  cursor: pointer;
}

.latest-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: repeat (2, 2fr);
  grid-template-areas:
    "b1 b2 b3 b4"
    "b5 b6 b7 b8";
}

.latest-grid figcaption {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0.5em 0;
}

.latest-grid figcaption:hover {
  text-decoration: underline;
  text-decoration-color: var(--light-purple);
}

.latest-grid span {
  color: grey;
}
.latest-grid p {
  display: none;
}

.latest-grid figure {
  padding-bottom: 1em;
}

.b1a {
  background: url(images/b1.jpeg);
  background-size: cover;
}

.b1f {
  grid-area: b1;
}

.b2a {
  background: url(images/b2.jpeg);
  background-size: cover;
}

.b2f {
  grid-area: b2;
}

.b3a {
  background: url(images/b3.jpeg);
  background-size: cover;
}

.b3f {
  grid-area: b3;
}

.b4a {
  background: url(images/b4.jpeg);
  background-size: cover;
}

.b4f {
  grid-area: b4;
}

.b5a {
  background: url(images/b5.jpeg);
  background-size: cover;
}

.b5f {
  grid-area: b5;
}

.b6a {
  background: url(images/b6.jpeg);
  background-size: cover;
}

.b6f {
  grid-area: b6;
}

.b7a {
  background: url(images/b7.jpeg);
  background-size: cover;
}

.b7f {
  grid-area: b7;
}

.b8a {
  background: url(images/b8.jpeg);
  background-size: cover;
}

.b8f {
  grid-area: b8;
}

/* footer */

footer {
  background: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  padding: 2em 0;
  border-bottom: 2px solid gray;
}

.footer-left {
  grid-area: footer-left;
}

.footer-left h5 {
  font-size: 1.75rem;
}

.socials {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}

.socials svg {
  cursor: pointer;
}

.socials svg:hover {
  fill: white!important;
}

.footer-mid {
  grid-area: footer-mid;
}

.footer-mid span,.footer-right span {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

.footer-top ul {
  color: var(--blue);
  line-height: 1.75rem;
  margin-top: 0.5em;
}

.footer-top ul li{
  cursor: pointer;
  font-size: 1.1rem;
}

.footer-top ul li:hover{
  text-decoration: underline;
}

.footer-right {
  grid-area: footer-right;
}

.footer-bottom {
  padding: 4em;
  border-top: 2px solid black;
  text-align: center;
  color: gray;
  line-height: 1.5rem;
}

.footer-bottom span{
  color: white!important;
  cursor: pointer;
}

.footer-bottom span:hover{
  color: var(--purple)!important;
}

/* media queries */

@media screen and (max-width: 1900px) {
  main,
  .popular {
    margin: 0 3em;
  }
}

@media screen and (max-width: 1700px) {
  .latest {
    margin: 0 1em;
    padding: 0 2em;
  }
}

@media screen and (max-width: 1024px) {
  main,
  .popular {
    margin: 0 2em;
  }

  .main-header {
    flex-direction: column;
    justify-content: center;
  }

  .main-header h5 {
    font-size: 1.3rem;
  }

  .header-nav {
    display: none;
  }

  .a2 button {
    padding: 0.5em;
    margin-top: 0.25em;
    font-size: 1rem;
  }

  .a2 h2 {
    font-size: 1.15rem;
  }

  .main-content {
    height: 850px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.5fr 1.5fr minmax(0, 1.5fr) minmax(0, 1.5fr);
    grid-template-areas:
      "a1 a1"
      "a1 a1"
      "a3 a2"
      "a4 a5";
  }

  .normal-font {
    font-size: 1.5rem !important;
  }

  .popular-content {
    flex-direction: column;
    padding: 0 5em;
  }

  .popular-content li {
    width: 100%;
    margin-bottom: 1.5em;
  }

  .latest-grid {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (4, 1fr);
    grid-template-areas:
      "b1 b2"
      "b3 b4"
      "b5 b6"
      "b7 b8";
  }

  .footer-top {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-template-areas:
      "footer-left footer-left"
      "footer-mid footer-right";
  }

  .footer-left {
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 768px) {
  main,
  .popular {
    margin: 0 0.25em;
  }

  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.6fr;
    grid-template-areas:
      "a1"
      "a2";
  }

  .a3 {
    display: none !important;
  }

  .a4 {
    display: none !important;
  }

  .a5 {
    display: none !important;
  }

  .latest-grid {
    display: flex;
    flex-direction: column;
  }

  .latest-grid figure {
    display: flex;
  }

  .latest-grid article {
    border-radius: 50%;
    min-width: 150px;
    min-height: 150px;
    margin-right: 1em;
  }

  .latest-grid span {
    display: none;
  }

  .latest-grid p {
    display: block;
    cursor: default;
  }

  .latest-header {
    text-align: center;
    font-size: 2rem;
  }
}
